@using Microsoft.AspNetCore.Identity
@inject SignInManager<StellarIO.Models.User> SignInManager
@inject UserManager<StellarIO.Models.User> UserManager

<nav class="nav bg-border-gradient-1" ng-app="stellarIO" ng-controller="accountController">
    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">StellarIO</a>
    <a class="nav-link @(Context.Request.Path.Value.StartsWith("/Home/Dashboard") ? "active" : "")" asp-area="" asp-controller="Home" asp-action="Index"><i class="fas fa-home"></i> Home</a>
    <a class="nav-link @(Context.Request.Path.Value.StartsWith("/Galaxy") ? "active" : "")" asp-area="" asp-controller="Galaxy" asp-action="Index"><i class="fas fa-star"></i> Galaxy</a>
    <a class="nav-link @(Context.Request.Path.Value.StartsWith("/Science") ? "active" : "")" asp-area="" asp-controller="Science" asp-action="Index"><i class="fas fa-flask"></i> Science</a>
    <a class="nav-link @(Context.Request.Path.Value.StartsWith("/Home/HighScores") ? "active" : "")" asp-area="" asp-controller="Home" asp-action="HighScores"><i class="fas fa-list-ol"></i> Leaderboard</a>
    <div class="nav-footer">
        @if (SignInManager.IsSignedIn(User))
        {
            <a id="manage" class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><i class="fas fa-user"></i> Hello @UserManager.GetUserName(User)!</a>
            <button id="logout" type="button" class="nav-link btn btn-link border-0" ng-click="logout()"><i class="fas fa-sign-out-alt"></i> Logout</button>
        }
        else
        {
            <a class="nav-link" id="register" asp-area="Identity" asp-page="/Account/Register"><i class="fas fa-user-plus"></i> Register</a>
            <a class="nav-link" id="login" asp-area="Identity" asp-page="/Account/Login"><i class="fas fa-sign-in-alt"></i> Login</a>
        }
    </div>
</nav>
