@model BuildViewModel

@{
    ViewData["Title"] = "Build a new building";
}

<h1>Build a new building</h1>

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        @Html.ValidationSummary(false, "A wild Ashi appears. Gotcha!")
    </div>
}

<style>
    .card-building {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .card-header img {
        width: 100%;
        height: auto;
    }

    .card-body {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
    }

    .card-body-content {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .card-footer {
        flex-shrink: 0;
    }

    .header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .details-section {
        margin-top: auto;
    }

    .description-section {
        min-height: 150px; /* Adjust based on the length of descriptions */
    }

    .resource-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #e9ecef;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 20px;
    }

        .resource-bar .badge {
            font-size: 1em;
            padding: 10px;
            border-radius: 5px;
            margin-right: 5px;
        }

        .resource-bar h2 {
            margin: 0;
            font-size: 1.5em;
            color: black;
        }
</style>

<div class="resource-bar">
    <h2>Planet: @Model.PlanetCoordinates</h2>
    <div>
        <span class="badge bg-iron">Fe: @Model.PlanetIron</span>
        <span class="badge bg-silver">Ag: @Model.PlanetSilver</span>
        <span class="badge bg-aluminum">Al: @Model.PlanetAluminium</span>
        <span class="badge bg-h2">H<span class="small">2</span>: @Model.PlanetH2</span>
        <span class="badge bg-energy"><i class="fas fa-bolt"></i> @Model.PlanetEnergy</span>
    </div>
</div>

<div class="row">
    @foreach (var building in Model.AvailableBuildings)
    {
        var imgUrl = "/img/building/" + building.Name.Replace(" ", "_") + ".jpeg";
        var builtLevel = building.Level - 1;
        var badgeColor = builtLevel > 0 ? "bg-primary" : "bg-secondary";
        var buttonText = builtLevel > 0 ? "Upgrade to level " + building.Level : "Build";
        var buttonIcon = builtLevel > 0 ? "fa-circle-up" : "fa-snowplow";
        <div class="col-md-4 mb-4">
            <div class="card card-building">
                <div class="card-header">
                    <img src="@imgUrl" alt="@building.Name">
                    <div class="header-content">
                        <h5 class="card-title text-light">@building.Name</h5>
                        <span class="badge rounded-pill @badgeColor">Level @builtLevel</span>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card-body-content">
                        <div class="description-section">
                            <p>@building.Description</p>
                        </div>
                        <hr>
                        <div class="details-section">
                            <p class="card-text w-fit-content" data-bs-toggle="tooltip" data-bs-placement="right" title="Duration">
                                <span class="badge costs bg-duration me-2 text-light"><i class="fas fa-hourglass-half"></i></span>@building.Duration seconds
                            </p>
                            <p class="card-text w-fit-content" data-bs-toggle="tooltip" data-bs-placement="right" title="Completion Time">
                                <span class="badge costs bg-completion me-2 text-light"><i class="fas fa-clock"></i></span>@DateTime.UtcNow.AddSeconds(@building.Duration).ToLocalTime()
                            </p>
                            <p class="card-text w-fit-content" data-bs-toggle="tooltip" data-bs-placement="right" title="Iron Cost">
                                <span class="badge costs bg-iron me-2 text-light">Fe</span>@building.IronCost
                            </p>
                            <p class="card-text w-fit-content" data-bs-toggle="tooltip" data-bs-placement="right" title="Silver Cost">
                                <span class="badge costs bg-silver me-2 text-light">Ag</span>@building.SilverCost
                            </p>
                            <p class="card-text w-fit-content" data-bs-toggle="tooltip" data-bs-placement="right" title="Aluminum Cost">
                                <span class="badge costs bg-aluminum me-2 text-light">Al</span>@building.AluminiumCost
                            </p>
                            <p class="card-text w-fit-content" data-bs-toggle="tooltip" data-bs-placement="right" title="H2 Cost">
                                <span class="badge costs bg-h2 me-2 text-light">H<span class="small">2</span></span>@building.H2Cost
                            </p>
                            <p class="card-text w-fit-content" data-bs-toggle="tooltip" data-bs-placement="right" title="Energy Cost">
                                <span class="badge costs bg-energy me-2 text-light"><i class="fas fa-bolt"></i></span>@building.EnergyCost
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-center p-0 bg-white">
                    <form asp-action="Build" method="post">
                        <input type="hidden" asp-for="PlanetId" />
                        <!-- Remove the unnecessary field -->
                        <input type="hidden" name="SelectedBuilding" value="@building.Name" />
                        <button type="submit" class="btn btn-primary w-100">@buttonText <i class="fas @buttonIcon"></i></button>
                    </form>
                </div>
            </div>
        </div>
    }
</div>
